
cachelib==0.9.0
certifi==2022.12.7

colour==0.1.5
contourpy==1.2.0

cycler==0.12.1
dash==2.16.1
dash-auth==2.2.1
dash-bootstrap-components==1.5.0

dash-extensions==1.0.14

dash-iconify==0.1.2
dash-mantine-components==0.12.1

dash-uploader==0.6.0

dataclass-wizard==0.22.3
dill==0.3.8
diskcache==5.6.3
EditorConfig==0.12.4
et_xmlfile==2.0.0

Flask-Caching==2.1.0

Flask-JWT-Extended==4.6.0
Flask-Login==0.6.3
fonttools==4.49.0

jsbeautifier==1.15.1

kiwisolver==1.4.5

matplotlib==3.8.3
more-itertools==9.1.0
multiprocess==0.70.16
nest-asyncio==1.6.0
openpyxl==3.1.5

packaging-legacy==23.0.post0
pandas==1.5.3

periodictable==1.5.2
pillow==10.2.0
